<section>
<h2>Looking for Almonds, Cashews, Walnuts or Dried Fruits?</h2>
<p>Our Nuts&Fruits medley is here to supercharge your snacking life with a fully-loaded, fruit-packed snack mix. Our flavorful medley has nearly every dried fruit delight under the sun: from papaya to cherries, mangoes to whole strawberries, plus bananas, raisins, pineapple and whole slices of killer dried kiwi.</p>
<p>Not to worry, we didn’t leave out the nuts! Our medley is full of roasted almonds, peanuts, whole, raw walnuts, buttery macadamias and decadent milk chocolate-covered cashews.</p> 

<p>They are a near perfect food, and an extraordinary combination of the savory and the sweet, healthy nutrition, and an enjoyable crunchiness that appeals to all ages.</p>
<p>These specialty food products are perfect not only for snacks, but as well as ingredients for gourmet cooking and baking.</p>

<h2>We want to take you on a taste journey.</h2>
<p>Explore our snacks by visiting 'Products' page or just Contact us:<br>
<br><b>email</b>: info@nutsandfruits.com<br>
<br><b>phone:</b> 1-415-352-1722
</p>
</section>

